.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  color: green;
  font-family: monospace;
}
