.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 76px;
  color: green;
  font-family: monospace;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}
